.header{
    display: flex;
    background-color:$colorprincipal;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #1f53c5;
    top: 0;
    width: 100%;
    box-shadow: 3px 3px 10px;
}
.logo {

 p{
    height: 50px;
    width: 300px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
   }
}
a{
    text-decoration: none;
    font-weight: 600;
    color: white;}
    nav{
        margin-right: 50px;
        a{
            padding: 10px;
            &:hover{
                color: #1f53c5;
            }
        }
        
    }
    h1{
        text-align: center;
        padding-top: 10px;
    }
    