.quienesSomos{
    background-color: #222222;
    color: white;
    p{
        padding-top: 30px;
        text-align: center;
        line-height: 30px;
        
    }
}
.informatica1{
    width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.informatica{
    width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
    text-align: center;
}
.imagen{
    border-radius: 10px;
    width: 50%;
    height: 100%;
    
}
