.quienesSomos{
    padding: 50px 200px 50px 200px;
    background-color: #222222;
    color: white;
    height: 500px;
    p{
        padding-top: 30px;
        text-align: center;
        line-height: 30px;
    }
}