.servicio{
    padding: 100px 200px 50px 200px;
    background-color: #222222;
    color: white;
    p{
        text-align: center;
    }
}
.tecnico{
    padding-top: 30px;
    line-height: 30px;
}
.trabajos{
    text-align: center;
}
.brindamos{
    text-align: center;
    margin:0;
    padding: 0;
    margin-top: 10px;
}
.telefono{
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}